/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Base styles */
@layer base {
    html {
        --background-color: #f0f0f0;
        --text-color: #000000;
    }

    body {
        background-color: var(--background-color);
        color: var(--text-color);
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    /* Dark mode styles */
    .dark {
        --background-color: #394b6e;
        --text-color: #e0e0e0;
    }
}